/*All elements defaulting to have a total width and height
  to include content, padding, and borders.*/
* {
    box-sizing: border-box;
}

/*Ensure body takes up full viewport and 
  has no margins or padding*/
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    color: var(--color-text);
    border: var(--color-accent);
}

:root {
    --color-background: #E8E9EB;
    --color-text: #313638;
    --color-accent: #8e8984;
    --color-surface: #D3D5D9;
}

hr {
    border: none;
    border-top: 1px solid var(--color-accent);
    width: 95%;
    margin-top: 32px;
    margin-bottom: 32px;
}

button {
    border: 1px solid var(--color-accent);
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: var(--color-surface);
}

button:active {
    background-color: var(--color-accent);
    color: var(--color-background);
    border-color: var(--color-accent);
}

header {
    background-color: var(--color-surface);
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

h1 {
    font-size: 28px;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1;
}

/*Canvas Area*/
#canvasArea {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 0%;
    border: 1px solid var(--color-accent);
}

canvas {
    border: 1px solid var(--color-accent);
}

#controlsSidebar {
    padding-left: 8px;
    padding-right: 8px;
}

#audioPlayback {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 8px;
}

#audioPlaybackControls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 16px;
}

#audioPlaybackSlider {
    width: 90%;
}

#audioPlaybackStopBtn {
    margin-right: 8px;
}

#audioPlaybackPauseBtn {
    margin-right: 8px;
}

#audioPlaybackPlayBtn {
    margin-right: 8px;
}

#generateNoiseBtn {
    margin-bottom: 32px;
    width: 256px;
}

#waveformDisplay {
    height: 50%;
    background-color: lightgray;
}

.hideWaveformDisplay {
    display: none;
}

#spectrogramDisplay {
    height: 50%;
    background-color: black;
}

.hideSpectrogramDisplay {
    display: none;
}

/*Control Sidebar*/
#controlsSidebar {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-accent);
    width: 420px;
}

#noiseTypeSection {
    display: flex;
    flex-direction: column;
}

#noiseButtons {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
}

.noiseBtnsSelected {
    background-color: var(--color-surface);
}

#audioSettingsSection {
    display: flex;
    flex-direction: column;
}

.samplingRateExpandToggleOn {
    background-color: var(--color-surface);
}

.samplingRateExpandToggleOff{
    background-color: var(--color-background);
}

.samplingRateSelectionCollapsed {
    display: none;
}

.samplingRateSelectionExpanded {
    display: block;
}
#samplingRateSelection {
    list-style: none;
}
.samplingRateSelected {
    background-color: var(--color-surface);
}

#visualSettingsSection {
    display: flex;
    flex-direction: column;
}

#descriptionSection {
    display: flex;
    flex-direction: column;
}